*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  
}
html, body{
    height: 100%;
    width: 100%;
    background-color:white;
}
#main{
    height: 100%;
    width: 100%;
    background-color: #e54d07;
}
#nav{
    height: 100px;
    width: 100%;
    background-color: #e54d07;
    display: flex;
    justify-content: space-between;
   
   
}
#nav-item1{
    height: 100px;
    width: 40%;
    background-color:#e54d07;
    display: flex;
    justify-content: center;
    align-items: center;
   
}

#nav-item1 img{
    height: 90px;
    width: 200px;
    padding-bottom: 20px;
    padding-top: 20px;
    margin-right: 60px;
    padding-right: 30px;
   
}

#nav-item2{
    margin-right: 35px;
    height: 100px;
    width: 50%;
    display: flex;
    justify-content: space-around;
   background-color:#e54d07;
  
}
#nav-item2 h5{
    font-size: 18px;
    font-weight: bold;
    padding-top: 45px;
    color: white;
    
}
#nav-item2 h4{
    height: 60px;
    width: 170px;
    font-size: 19px;
    border: 1px solid white;
  margin-top: 27px;
    padding-left: 20px;
   padding-top: 15px;
   border-radius: 17px;
   color: white;
   margin-bottom: 10px;
}
#nav-item2 button{
    margin-top: 30px;
    height: 60px;
    width: 140px;
    border-radius: 17px;
    margin-right: 60px;
    background-color: black;
    color: white;
    border: 2px solid black;
    font-size: 15px;
   font-weight: bolder;
    
}
#contanir{
    height: 50%;
    width: 100%;
    background-color: #e54d07;
    display: flex;
    justify-content: space-between;
   
   
}
#img1{
    background-color:#e54d07;
    display: flex;
   
}
#img1 img{
    height: 500px;
    width: 250px;
}
#img2 img{
    height: 500px;
    width: 250px;
}
   
#search-items{
    height: 350px;
    width: 80%;
    background-color:#e54d07;    
    color: white;
}
#search-items h1{
    padding-top: 70px;
   align-items: center;
   justify-content: center;
   text-align: center;
   font-size: 40px;
   padding-left: 130px;
   padding-right: 100px;
   
}
#items{
    height: 170px;
    width: 100%;
    background-color:#e54d07;
    display: flex;
    align-items: center;
   gap: 30px;
   padding-left: 40px;
    color: white;
   font-size: 30px;
    
}
#items input{
color: white;
    height: 60px;
    width: 400px;
    padding-left: 20px;
    border-radius: 10px;
    border:  1px solid #e54d07;
    padding-right: 20px;
}

#sandeep{
    height: 350px;
    width: 100%;
    background-color:#e54d07;
    display: flex;
    justify-content: center;
}
   
#sandeep img{
    height: 330px;
    width: 280px;
}
#page1{
    height: 90%;
    width: 100%;
    background-color: white;
    
}
#saman{
    height: 90%;
    width: 100%;
    background-color: white;

}
#div1{
    height: 240px;
    width: 90%;
    background-color: white;
   margin-top: 130px;
   margin-left: 80px;
   display: flex;
   align-items: center;
   justify-content: space-around;
  
}
#div2{
    height: 240px;
    width: 90%;
    background-color: white;
    margin-top: 7px;
    margin-left: 80px;
    display: flex;
    align-items: center;
    justify-content: space-around;
   
}
#saman h2{
   margin-top: 80px;
   padding-left: 90px;
   font-size: 27px;
   font-weight: 800;
   color: rgb(28, 29, 30);
}

.img{
    height: 240px;
    width: 150px;
    background-color:white;
   
    
}
.img img{
    height: 210px;
    width: 170px;
}
.img p{
    margin-bottom: 4px;
   margin-left: 38px;
   font-size: 22px;
   font-weight: 600;
   color: rgb(68, 69, 69);
}
#page2{
    height: 50%;
    width: 100%;
    background-color:white;
    display: flex;
    align-items: center;
    justify-content: space-around;
   
}
.vag{
    height:240px;
    width: 95%;
    background-color:white; 
    display: flex;
    align-items: center;
    justify-content: space-around;
   
   
}
#page3{
    height: 95%;
    width: 100%;
    background-color:white;
   
}
#page3 h1{
    padding-top: 50px;
    padding-left: 70px;
    color: rgba(6, 6, 6, 0.89);
}
#car-contanir{
    height: 98%;
    width: 95%;
    background-color: white;
    display: flex;
    align-items: center;justify-content: space-around;
    margin-left: 33px;
    

}

#card{
    height: 520px;
    width: 430px;
    background-color:white;
   
    border-radius: 40px;
   margin-left: 10px;
   
}
#img-box{
    height: 230px;
    width: 430px;
    background-color: #a73d3d;
    border-radius: 40px;
    object-fit: cover;

}
#img-box img{
    height: 230px;
    width: 430px;
   border-radius: 30px;
}
#address{
    height: 37px;
    width: 430px;
    background-color:white;
    color: rgba(42, 44, 46, 0.742);
    display: flex;
    align-items: center;
    justify-content: space-between;
   padding-left: 20px;
   padding-right: 10px;
    padding-top: 10px;
}
#address1{
    height: 45px;
    width: 420px;
    background-color:rgba(6, 149, 28, 0.897);
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
   margin-top: 10px;
   padding-left: 20px;
   padding-right: 3px;
   margin-left: 4px;
   border-radius: 6px;
   font-size: 20px;
   font-weight: bolder;
}

#address2{
    height: 45px;
    width: 420px;
    background-color:rgba(184, 233, 235, 0.897);
    color: #227f31da;
    display: flex;
    align-items: center;
    justify-content: space-between;
   margin-top: 20px;
   margin-left: 4px;
   padding-left: 20px;
   border-radius: 6px;
   font-size: 20px;
   font-weight: bolder;
}
#address3{
    height: 45px;
    width: 430px;
    display: flex;
    align-items: center;
    justify-content: space-between;
   margin-top: 5px;
   padding-left: 15px;
}
#img-contan{
    height: 40%;
    width: 100%;
    background-color: #e7ceeb;
}
#img-box2{
    height: 100%;
    width: 99x;
    background-color: white;
    margin-top: 70px;
}
#img-box2 img{
    height: 100%;
    width: 100x;
    padding-left: 2px;
   
}
#page4{
    height: 100%;
    width: 100%;
    background-color: #b3d2de;
    
}
#divee{
    height: 100%;
    width: 100%;
    background-color:white;

}
#divee h1{
    margin-top: 27px;
    padding-left: 230px;
}
#div0{
    height: 40%;
    width: 70%;
    background-color: white;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-left: 14.5%;
}
#delivery1{
    height: 300px;
    width: 330px;
    background-color: white;
    padding-top: 8px;
    padding-left: 4px;
}
.deliv1{
    height: 70px;
    width: 320px;
    background-color: white;
    color: rgba(0, 0, 0, 0.752);
    display: flex;
   align-items: center;
    justify-content: center;
    border-radius: 8px ;
    font-size: 15px;
    font-weight: bolder;
    border: 1px solid rgba(0, 0, 0, 0.255);
    
}
#ss{
    margin-top: 25px;
    gap: 6px;
    
}
#ss i{
   
   font-size: 25px;
   color:  rgb(255, 77, 0);
}
#orange{
    color:  rgb(255, 77, 0);
    font-size: 15px;
    font-weight: bolder;
}
#sp{
height: 80px;
width: 320px;
background-color:white;
margin-top: 30px;
text-align: center;
}
#page5{
    height: 90%;
    width: 100%;
    background-color: #cae0e0;
    display: flex;
    align-items: center;
  justify-content: center;
}
#lst{
    height: 100%;
    width: 100%;
    background-color:white;
    display: flex;
    align-items: center;
   justify-content: center;
   gap: 30px;
   
}
#list1{
    height: 300px;
    width: 200px;
    background-color:white;
    margin-bottom: 20px;
}
#list1 p{
   padding-left: 6px;
}
#list1 img{
    height: 100px;
    width: 200px;
    padding-bottom: 40px;
    
 }
#list2{
    height: 600px;
    width: 200px;
    background-color:  white;
    font-size: 20px;
    font-weight: lighter;
    padding-top: 130px;
   
}

#list2 p{
    gap: 40px;
    padding: 10px;
    color: rgba(0, 0, 0, 0.84);
   
}

#list3{
    height: 600px;
    width: 200px;
    background-color:  white;

}
.lis{
    height: 250px;
    width: 200px;
    background-color: white;
  padding-top: 80px;
    margin-top: 50px;
    font-weight: lighter;
    font-size: 20px;
}
.lis p{
    gap: 40px;
    padding: 10px;
    color: rgba(0, 0, 0, 0.785);
   
}

#iconss{
    height: 200px;
    height: 100px;
    background-color:  white;
    padding-top: 10px;
    display: flex;
    justify-content: space-around;
}
#iconss i{
    
    font-size: 30px;
}
#lastpart{
height: 200px;
width: 100%;
background-color:white;
display: flex;
justify-content: center;
}
#lpart{
    display: flex;
    align-items: center;
   justify-content: space-between;
    height: 200px;
    width: 98%;
    background-color:white;
    padding-left: 100px;
    border-top: 2px solid black;
}
#lpart img{
    height: 70px;
    width: 200px;
}
#laft{
    margin-right: 100px;
}
